# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-workspace':
  "cmd-c cmd-t": 'case-switch:toggle'
  "cmd-c cmd-c": "case-switch:convert-to-camel-case"
  "cmd-c cmd-s": "case-switch:convert-to-snake-case"
  "cmd-c cmd-h": "case-switch:convert-to-hyphen-case"
  "cmd-c cmd-u": "case-switch:snake-to-camel-case"
  "cmd-c cmd-v": "case-switch:snake-to-hyphen-case"

  "cmd-c cmd-w": "case-switch:hyphen-to-snake-case"
  "cmd-c cmd-x": "case-switch:hyphen-to-camel-case"

  "cmd-c cmd-y": "case-switch:camel-to-hyphen-case"
  "cmd-c cmd-z": "case-switch:camel-to-snake-case"
